@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background: rgb(36, 36, 36);
  color: rgb(239, 238, 238);
  font-family: 'Montserrat', serif;
}

.image-inverted {
  filter: invert(100%);
}

.navigationLink {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

