@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background: rgb(36, 36, 36);
  color: rgb(239, 238, 238);
  font-family: 'Montserrat', serif;
}

.image-inverted {
  filter: invert(100%);
}

